.dashboard {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.dashboard__header {
  background-image: url('../../assets/images/dashboardImg/DashboardImage.png');
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  display: block;
  padding-left: 10px;
}

.feature__card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard__header.active {
  animation: slide-effect 0.5s 1 ease forwards;
}

.dashboard__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide-on-mobile {
  display: block;
}

.hide-on-desktop {
  display: block;
}

.dashboard__header__container__search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;

  max-width: 300px;
  width: 100%;
}

.dashboard__header__container__search input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding-right: 0.8rem;
  font-family: inherit;
}

.dashboard__main__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 87%;
  margin: 2rem auto;
}

.dashboard__main__container.active {
  animation: slide-effect 0.5s 1 ease forwards;
}

.latestNewsAndBlogs__container {
  max-width: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #f2fcff;
  box-shadow: 0px 5px 5px rgba(23, 179, 169, 0.5);

  margin: 1rem 0;
}

.latestNewsAndBlogs__container p {
  color: var(--primary-clr);
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.latestNewsAndBlogs__container p a {
  color: var(--primary-clr);
}

.dashboard__right__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blogs__and__news__container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.latest_news_container{
  width: 80%;
}

@media screen and (min-width: 640px) {
  .dashboard__header {
    background-color: #f2f2f2;
    width: 100%;
    height: 25vh;

    padding: 2.5rem 1rem;
  }
}

@media screen and (min-width: 850px) {
  .hide-on-desktop {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }

  .dashboard {
    width: 100%;
    height: auto;
  }

  .dashboard__header {
    background-color: #f2f2f2;
    width: 100%;
    height: 25vh;

    padding: 2.5rem 5rem;
  }

  .dashboard__header.active {
    animation: slide-effect 0.5s 1 ease forwards;
  }

  .dashboard__header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dashboard__header__container__search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;

    max-width: 300px;
    width: 100%;
  }

  .dashboard__header__container__search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding-right: 0.8rem;
    font-family: inherit;
  }

  .dashboard__main__container {
    display: flex;
    justify-content: space-between;

    width: 86%;
    margin: 2rem auto;
  }

  .dashboard__main__container.active {
    animation: slide-effect 0.5s 1 ease forwards;
  }


  .latestNewsAndBlogs__container {
    max-width: 500px;
    width: 500px;
    padding: 1rem;
    background-color: #f2fcff;
    box-shadow: 0px 4px 5px rgba(23, 179, 169, 0.5);

    margin: 1rem 0;
  } 

  .latestNewsAndBlogs__container p {
    color: var(--primary-clr);
    text-decoration: underline;
    margin-bottom: 0.5rem;
  }

  .dashboard__right__container {
   margin-top: 0;
  }
}
