.main_container {
  display: flex;
  background-color: red;
  flex-direction: column;
}

.main_container .dot span {
  width: 15px;
  height: 15px;
  background: #0087bb;
  position: absolute;

  border-radius: 100%;
  transform: rotate(calc(var(--i) * (360deg / 10))) translateY(35px);
  opacity: 0;
  animation: rotateIt 1.2s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

.loader {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.loader h2 {
  margin-top: 4rem;
  margin-left: -2rem;
  text-align: center;
}

@keyframes rotateIt {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
