.textarea__container {
  position: relative;
  width: 100%;
}

.textarea__container .textarea__label {
  position: absolute;
  left: 2%;
  top: 10%;
  font-size: 0.9rem;
  font-weight: 500;
  pointer-events: none;
  cursor: text;
  color: var(--light-text-clr);

  transition: all 0.3s ease-in-out;
}

.textarea__container .textarea__field {
  outline: none;
  padding: 0.5rem 0.8rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.35);
  resize: none;
}

.textarea__field:focus ~ .textarea__label,
.textarea__field:not(:placeholder-shown).textarea__field:not(:focus)
  ~ .textarea__label {
  top: -15%;
  left: 0%;
  font-size: 0.7rem;
}

.textarea__field:focus {
  border-color: var(--primary-clr);
}

.textarea__field:focus ~ .textarea__label {
  color: var(--primary-clr);
}
