.taskListCard__container {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  padding: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.contest__poster__model {
  display: none;
}

.contest__poster__model.active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.contest__poster__container {
  display: none;
}

.contest__poster__container.active {
  position: fixed;
  background-color: #fff;
  overflow: hidden;
  width: 65%;
  height: 70vh;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: block;
  animation: popup_poster 0.3s linear forwards;
}

.taskListCard__container p.desc {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  line-height: 1.3rem;
}

p.date,
p.mark_as_done {
  color: var(--primary-clr);
  font-weight: 500;
}

p.date {
  margin: 1rem 0rem;
}

p.mark_as_done {
  cursor: pointer;
}

.isPending {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
}
