.taskListModel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskListModel__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.task__list__model__container {
  position: absolute;
  z-index: 99;
  width: 90%;
  height: auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 15px;

  animation: popUp_model 0.4s linear forwards;
}

@media screen and (min-width: 650px) {
  .task__list__model__container {
    position: absolute;
    z-index: 99;
    width: 600px;
    height: 500px;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 15px;

    animation: popUp_model 0.4s linear forwards;
  }
}
@keyframes popUp_model {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}
