.contest__header__container {
  display: flex;
  align-items: center;
}

.header__main__container {
  padding: 2.4rem 5rem;
  background: linear-gradient(
    122.43deg,
    #008bb7 23.82%,
    rgba(0, 139, 183, 0.5) 69.43%
  );
}

.contest__body__container {
  padding: 2.4rem 5rem;
}

.contest__body__container.active {
  animation: slide-effect 0.5s 1 ease forwards;
}

.contest__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contest__card__container {
  max-width: 350px;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-top: 1rem;
  /*box-shadow: 2px 2px 10px #008cb799;*/
  filter: blur(0.5px);
  backdrop-filter: blur(5px);
  background-color: #e8f5fa;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding: 1rem;
}

.contest__card__container:hover {
  box-shadow: 2px 2px 10px #008cb799;
}

.contest__popup__container {
  width: 87%;
  height: 80vh;

  margin: 0 auto;

  background-color: #000000dd;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contest__popup__container.active {
  width: 70%;
  height: 80vh;
  overflow: hidden;

  margin: 0 auto;

  background-color: #49B2FE;
  filter: blur(0.5px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);
background: #49b3fef3;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(1.9px);
-webkit-backdrop-filter: blur(1.9px);

  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
}
