.header {
  width: 95%;
  margin: 0 auto;
  padding: 0.2rem 0;
  display: flex;

  position: relative;
}

.header .header__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header__children {
  display: none;
  align-items: center;
  gap: 10px;
}

.header .logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.header .logo__container .logo {
  width: 45px;
  transform: translateY(10%);
  position: relative;
}

.header .logo__container .logo img {
  width: 100%;
}

.header .logo__container h1 {
  font-size: 1.5rem;
}

.header .logo__container h1.dark {
  color: var(--primary-clr);
}

.header .logo__container h1.light {
  color: #fff;
}

.drawer__container {
  display: block;
}

.slider {
  width: 230px;
  height: 100vh;
  background-color: #003140;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0%;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(5px);

  z-index: 999;
}

.slider.active {
  transform: translateX(0%);
}

.hamburger {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 2%;
  top: 5%;
  transform: translateY(60%);
  cursor: pointer;
  visibility: visible;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background-color: rgb(182, 179, 179);
  opacity: 1;
  margin: 5.5px 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.hamburger .line.light {
  background-color: #fff;
}

.hamburger:hover .line {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.slider__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  list-style: none;
}

.nav__logo__container {
  margin: 1.5rem;
}

.slider__list li.menuItem {
  width: 100%;
  color: var(--primary-clr);
  margin-bottom: 1rem;
}

.slider__list .menuItem p {
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--primary-clr);
  font-weight: 500;
}

/* sm */
@media screen and (min-width: 700px) {
  .container {
    width: 100%;
  }

  .header__children {
    display: none;
  }
}

/* md */
@media screen and (min-width: 850px) {
  .header {
    padding: 1rem 0;
  }

  .header__navbar .logo__container {
    display: none !important;
  }

  .header__navbar .logo__container.active {
    display: flex !important;
  }

  .header .header__children {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
  }

  .drawer__container {
    display: none;
  }

  .slider__main__container {
    display: none;
  }

  /* .header__children {
    display: none;
  } */
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}
