#contact {
  background: var(--primary-clr);
  height: 50vh;
}

.contact__header h1,
.contact__header p {
  text-align: center;
}

.contact__header h1 {
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #fff;

  margin-top: 2rem;
}

.contact__header p {
  color: #fff;
  width: var(--mobileView-width);
  margin: 1rem auto;
  line-height: 1.3;
}

.contact__form__container {
  width: var(--mobileView-width);
  margin: 2.5rem auto;
  background-color: #fff;
  border-radius: var(--rounded-md);
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.252);
  margin-bottom: 2rem;
}
.contact__form__left__container {
  background: linear-gradient(
    152.97deg,
    rgba(10, 102, 194, 0.5) 0%,
    rgba(38, 203, 255, 0.5) 100%
  );
  backdrop-filter: blur(23px);
  padding: 1rem;
  border-radius: var(--rounded-md);

  height: 300px;
  width: 100%;
  position: relative;
}

.glass__effect {
  position: relative;
}

.glass__effect .circle {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: radial-gradient(
    81.25% 81.25% at 67.32% 18.75%,
    #17b3a9 0%,
    #0945df 100%
  );
}

.contact__form__left__container h2,
p,
svg {
  color: #fff;
}

.contact__form__container h2 {
  letter-spacing: 0.04rem;
  margin-bottom: 1rem;
}

.contact__form__container p {
  letter-spacing: 0.04px;
  line-height: 1.25rem;
  font-size: 0.89rem;
}

.contact__form__left__container > div:last-child {
  margin-top: 2rem;
}

.contact__form__left__container > div:last-child > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 0.8rem;
}

.contact__form__left__container > div:last-child > div > p {
  letter-spacing: 0.025rem;
}

.form__container form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__container textarea {
  width: 100%;
  min-height: 5rem;
  border: none;
}

.sendMessage__btn {
  display: block;
  margin: auto;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 700px) {
  .contact__header h1 {
    letter-spacing: 2px;
    font-weight: 500;
  }

  .contact__header p {
    width: 60%;
  }

  .contact__form__container {
    flex-direction: row;
    width: var(--desktopView-width);

    /* flex-wrap: wrap; */
  }

  .glass__effect .circle {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100px;
  }

  .contact__form__left__container {
    width: 100%;
    height: 360px;
  }

  .contact__form__right__container {
    width: 100%;
    padding: 0 2rem;
  }

  .sendMessage__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

/* lg */
@media (min-width: 1024px) {
  .contact__header p {
    width: 40%;
  }
}

/* xl */
@media (min-width: 1280px) {
}
