.slideshow-container{
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba(16, 101, 148, 0.4);
}

.mySlides{
  width: 100%;
}

.slider_img_container{
  width: 100%;
  height: 190px;
  background-color: #9b9b9b;
}

.slider__content{
  background: linear-gradient(90deg, var(--secondary-clr), var(--primary-clr));
  padding: 1rem 1rem;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@media screen and (min-width: 640px) {
  .slideshow-container{
    width: 600px;
    position: relative;
    margin: auto;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 4px 4px 20px rgba(16, 101, 148, 0.4);
  }
  
  .mySlides{
    width: 600px;
  }
  
  .slider_img_container{
    width: 600px;
    height: 190px;
    background-color: #9b9b9b;
  }

  .slider__content{
    background: linear-gradient(90deg, var(--secondary-clr), var(--primary-clr));
    padding: 1rem 2rem;
  }
}