.taskHeader,
.taskListHeader {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  padding: 0.2rem 5rem;
  width: 100%;
}

.taskListHeader__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.7rem 0 0 0;
  gap: 50px;
}

.taskListHeader__contents div {
  width: 100%;
}

.taskListHeader__contents h3 {
  /* text-align: center; */
  border-bottom: 3px solid var(--primary-clr);
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.taskList__body__container {
  display: flex;
}

.taskList__content__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  gap: 50px;
}

.taskList__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
  border-right: 3px solid #e8e8e8;
  padding-right: 2rem;
}

.taskList__container:last-child {
  border: none;
}
