.tasklist__header__container {
    display: flex;
    background-color: #f9f9f9;
    align-items: center;
}

.header__main__container {
    padding: 2.4rem 1.5rem !important;
    background: linear-gradient(
    122.43deg,
  #f9f9f9 23.82%,
   #f2f2f2 69.43%
    );
    position: relative;
}
