.taskHeader,
.taskListHeader {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
}

.taskListHeader__contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.7rem 0 0 0;
  gap: 50px;
}

.taskListHeader__contents div {
  width: 100%;
}

.taskListHeader__contents h3 {
  /* text-align: center; */
  border-bottom: 3px solid var(--primary-clr);
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.taskList__body__container {
  display: flex;
}

.taskList__content__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  gap: 50px;
}

.taskList__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
  max-width: 100%;
  height: 100vh;
  border-right: 3px solid #e8e8e8;
  padding-right: 2rem;
}

.taskList__container:last-child {
  border: none;
}

.col {
  width: 100%;
}

.col__wrapper {
  width: 100%;
  border-right: 3px solid #e8e8e87d;
}

.col__group {
  display: flex;
}

.col__header {
  width: 100%;
  border-bottom: 3px solid var(--primary-clr);
  padding-bottom: 0.5rem;
}

.col__count {
  color: #000;
  font-weight: 500;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

.item:hover {
  cursor: pointer;
}

.item-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-icons > * {
  margin-right: 10px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
}

.col-group {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 20px;
  color: #778399;
  font-size: 0.83em;
}

.col-header,
.col-count {
  font-size: inherit;
  margin-top: inherit;
  margin-bottom: unset;
}

.col-count {
  margin-left: 10px;
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: yellow;
}

.page-header {
  background-color: #f4f5f7;
  padding: 20px;
  color: #0052cc;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031d2c;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}

.gg-chevron-double-up {
  color: #ff7451;
}

.gg-chevron-up {
  color: #ff8f73;
}

.gg-chevron-down {
  color: #0065ff;
}

.gg-chevron-double-down {
  color: #2683ff;
}

.gg-remove {
  color: #d24230;
}

.gg-pentagon-down {
  color: #654783;
}

.gg-bookmark {
  color: #65ac43;
}

.gg-copy {
  color: #367dc6;
}

.est-tag {
  background-color: #dee0e6;
  border-radius: 25px;
  padding: 2px 6px;
  font-weight: 600;
}
