:root {
  --card-text-primary: #000;
  --card-text-secondary: rgba(0, 0, 0, 0.7);
}

.pricing__card {
  min-width: 280px;
  width: 300px;
  height: 440px;
  box-shadow: 0px 6px 20px -10px rgba(0, 0, 0, 0.3);
  position: relative;
  padding-bottom: 0.5rem;
  overflow: hidden;
  border-radius: var(--rounded-md);
}

.pricing__card.primary {
  background-color: #f6f6f6;
}

.pricing__card .popular__tag {
  background-color: var(--primary-clr);
  padding: 2px 5px;
  position: absolute;
  width: 100px;
  height: 20px;
  top: 5%;
  transform: translateX(-25%) translateY(-35%) rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(36, 36, 36, 0.35);
}

.popular__tag p {
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.pricing__card h1 {
  margin-top: 2.5rem;
  padding-left: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
  color: var(--light-text-clr);

  text-align: center;
}

.pricing__card h1.popular {
  color: #000;
}

.pricing__card .pricing {
  display: flex;
  align-items: flex-end;

  margin: 0 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(162, 161, 161, 0.406);
}

.pricing h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2.2rem;
}

.pricing p {
  font-size: 0.8rem;
  padding-bottom: 7px;
  color: var(--card-text-secondary);
  margin-left: 0.5rem;

  font-weight: 600;
  letter-spacing: 0.058rem;
}

.pricing__card .desc {
  padding: 0 2rem;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--card-text-secondary);
}

.pricing__card .plan__details {
  padding: 0 2rem;
  height: 120px;
}

.plan__details div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0.25rem 0;
}

.plan__details > div > img {
  font-size: 20px;
  background-color: var(--primary-clr);
  color: #fff;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 0.2rem;
}

.plan__details > div > p {
  color: var(--card-text-secondary);
  font-weight: 500;
}

.choose__btn__container {
  padding-left: 2rem;
  margin: 1.5rem 0;
}

.choose__btn__container .btn {
  padding: 0.2rem 2.5rem;
  width: 110px;
  font-size: 0.95rem;
  border-radius: 7px;
}

@media screen and (min-width: 1200px) {
  .pricing__card.primary {
    background-color: #f6f6f6;
    transform: scale(1.09);
  }
}
