.footer {
  width: 100%;
  height: auto;
  background-color: var(--primary-clr);
}

.footer__container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.footer__container .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.footer__container .logo > img {
  width: 40px;
}

.footer__container .logo > h2 {
  transform: translateY(-10%);
  color: #fff;
}

a {
  text-decoration: none;
}

.footer__container h3,
.footer__container a {
  color: #fff;
  text-decoration: none;
}

.footer__container h3 {
  padding-bottom: 1rem;
  letter-spacing: 0.025rem;
}

.footer__container ul {
  list-style: none;
}

.footer__container .link {
  font-size: 0.95rem;
  padding: 0.2rem 0;
}

.social__media__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.footer__container p {
  font-size: 0.95rem;
}

.footer__container .left__container {
  width: 30%;
}

.footer__container .right__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right__container .newsletter__form {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: var(--rounded-md);
  padding: 0 0.7rem;
  margin-top: 1.5rem;

  position: relative;
}

.right__container .newsletter__form input {
  min-width: 250px;
  background-color: transparent;
  outline: none;
  border: none;
  padding-right: 20px;
  margin-left: 0.6rem;
  color: #fff;
  font-family: inherit;
}

.right__container {
  display: flex;
  width: 100%;
}

.newsletter__form input::placeholder {
  color: #fff;
}

.newsletter__form .btn {
  position: absolute;
  right: -3%;
  top: -8%;
}

.newsletter__form .btn svg {
  width: 16px;
  height: 16px;
}

.newsletter__form .btn svg path {
  fill: var(--primary-clr) !important;
}

.newsletter__form .emailIcon {
  width: 1rem;
}

.newsletter__form .btn img {
  width: 1rem;
}

.footer .copyRight__container {
  background-color: var(--primary-clr);
  text-align: center;
  font-size: 0.8rem;
}

.footer .copyRight__container p {
  line-height: 4rem;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 700px) {
  .footer {
    height: auto;
    width: 100%;
  }
  .footer__container {
    width: var(--desktopView-width);
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__container .right__container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .right__container {
    width: 70%;
  }

  .right__container div:nth-child(2) {
    padding-right: 2rem;
  }

  .newsletter__form .btn {
    position: absolute;
    right: -8%;
    top: -8%;
  }

  .right__container .newsletter__form {
    width: 80%;
  }

  .footer__container {
    flex-direction: column;
  }
}

/* lg */
@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
  }
}

/* xl */
@media (min-width: 1280px) {
}
