#blogSpace {
  width: 100%;
}

.blogSpace.active {
  animation: slide-effect 0.5s 1 ease forwards;
}

.blogSpace__header {
  padding: 2rem 5rem;
  background-color: #f5f5f5;
}

.blogSpace__filter__header {
  width: 100%;
  background-color: #f5f5f5;
  padding: 0rem 5rem;
  padding-bottom: 2rem;

  display: flex;
  align-items: center;
  gap: 20px;
}

.blogSpace__main__container {
  width: 100%;
  padding: 2rem 5rem;
}

.blogSpace__main__container > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blogSpace__card {
  min-width: 300px;
  width: 300px;

  background: #e8f5fa;
  border-radius: 10px;
  padding: 1.5rem;
}
