#auth__container {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile__device__hidden {
  display: none;
}

.show_in_mobile_device {
  text-align: center;
}

.container {
  width: 100%;
  height: auto;
}

.auth form {
  background-color: #ffffff;
  padding: 0rem 2rem;
  padding-bottom: 2rem;
  height: 100%;
  width: 90%;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.sign-in-container form p,
.sign-up-container form p {
  color: #333;
  margin: 3rem 0 0.5rem;
  padding-top: 2rem;
  font-size: 1rem;
}

.sign-in-container .auth__buttons,
.sign-up-container .auth__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.auth__buttons p {
  font-size: 1.2rem !important;
  text-transform: uppercase;
  transform: translateY(-65%);
}

.sign-in-container.active {
  display: block;
}

.sign-in-container.hidden {
  display: none;
}

.sign-up-container.active {
  display: block;
}
.sign-up-container.hidden {
  display: none;
}

.sign-in-container form h3,
.sign-up-container form h3 {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  position: relative;
}

.forgot__text {
  color: var(--primary-clr);
}

@media screen and (min-width: 800px) {
  .sign-in-container.active {
    display: block;
  }

  .sign-in-container.hidden {
    display: block;
  }

  .sign-up-container.active {
    display: block;
  }
  .sign-up-container.hidden {
    display: block;
  }

  #auth__container {
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    padding-bottom: 2rem;
  }

  .mobile__device__hidden {
    display: block;
  }

  .auth h1 {
    font-weight: bold;
    margin: 0;
  }

  .auth h2 {
    text-align: center;
  }

  .auth button:active {
    transform: scale(0.95);
  }

  .auth button:focus {
    outline: none;
  }

  .auth button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }

  .auth form {
    background-color: #ffffff;
    padding: 0 2rem;
    height: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .sign-in-container form p,
  .sign-up-container form p {
    color: #333;
    margin: 3rem 0 7px;
    padding-top: 0rem;
    font-size: 0.8rem;
  }

  .sign-in-container form h3,
  .sign-up-container form h3 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .sign-in-container form h3::after,
  .sign-up-container form h3::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-clr);
    border-radius: 100%;
    margin-left: 0.3rem;
    bottom: 0.2rem;
  }

  .sign-in-container form a {
    color: var(--primary-clr);
    font-size: 0.8rem;
    font-weight: 500;
  }

  .sign-in-container .auth__buttons,
  .sign-up-container .auth__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .auth__buttons p {
    font-size: 1.2rem !important;
    text-transform: uppercase;
    transform: translateY(-100%);
  }

  .login__button {
    margin-top: 1.5rem;
  }

  .signUp__button {
    margin-top: 1.2rem;
  }

  .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  .sign-up-container .auth__buttons {
    margin-top: 1.2rem;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  .forgot__text {
    color: var(--primary-clr);
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background: url("../../assets/images/authImgs/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;

    left: 50%;
    top: -10%;
    background: url("../../assets/images/authImgs/background.png");
    background-repeat: no-repeat;
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    padding: 3rem 40px;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

  .overlay-right h1,
  .overlay-left h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .overlay-left p,
  .overlay-right p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .overlay-left div,
  .overlay-right div {
    width: 100%;
    position: relative;
  }

  .overlay-left div img {
    width: 120%;
    transform: translate(-10%, -10%);
    pointer-events: none;
  }

  .overlay-right div img {
    width: 120%;
    transform: translate(-10%, 10%);
    pointer-events: none;
  }
}
