.btn {
  border: none;
  outline: none;
  line-height: 1.5;
  padding: 0.6rem 3rem;
  min-width: 100px;
  border-radius: var(--rounded-md);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  box-shadow: 0px 19px 30px -13px rgba(0, 0, 0, 0.5);
}

.btn.btn-lg {
  width: 100%;
  padding: 0.8rem 0;
}

/* Primary Button styles */
.btn.btn-primary {
  background-color: var(--btn-primary-clr);
  color: var(--btn-secondary-clr);
  position: relative;
  transform: scale(1);

  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover {
  background-color: var(--btn-primary-clr);
  opacity: 0.85;
  transform: scale(1.02);
}

.btn.btn-primary:active {
  transform: scale(0.95);
}

.btn.btn-primary::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: var(--btn-secondary-clr);
  opacity: 0.2;
  border-radius: var(--rounded-md);
}

.btn.btn-primary:active::before {
  animation: ripple 700ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* secondary button styles */
.btn.btn-secondary {
  background-color: var(--btn-secondary-clr);
  color: var(--btn-primary-clr);
  transform: scale(1);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.btn.btn-secondary:hover {
  transform: scale(1.02);
}

.btn.btn-secondary:active {
  transform: scale(0.95);
}

.btn.btn-secondary::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: var(--btn-primary-clr);
  opacity: 0.2;
  border-radius: var(--rounded-md);
}

.btn.btn-secondary:active::before {
  animation: ripple 180ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes ripple {
  to {
    transform: scaleX(1);
  }
}
