/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* border-radius */
  --rounded-md: 10px;

  /* colors */
  --btn-primary-clr: #008bb7;
  --btn-secondary-clr: #ffffff;
  --light-text-clr: rgb(134, 133, 133);

  --bg-linear-gradient: linear-gradient(
    141.96deg,
    #008bb7 31.03%,
    rgba(32, 172, 217, 0.54) 129.67%
  );

  --primary-clr: #008bb7;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif;
}
