.profile__content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  height: 65vh;
}

.profile__header {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('../../assets/images/profileImgs/ProfileImg.jpg');
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 10px;
}

.profile__header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: block;
}

.profile__avatar__container {
  width: 100px;
  height: 100px;
  border: 3px solid #008bb7;
  border-radius: 100%;
  margin-right: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile__avatar__container::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  background-color: #008bb7;
  z-index: -1;
}

.profile__avatar__container h1 {
  color: #fff;
}

.profile__form__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5%;
  gap: 20px;

  margin-top: 1.5rem;
}

.user-profile-inner {
  position: absolute;
  top: 89px;
  left: 150px;
  border-radius: 15px;
  background: linear-gradient(106deg, 
  rgba(38, 203, 255, 0.17),
  rgba(202, 243, 255, 0.17)
  );
  box-shadow: 0 19px 30px 5px #f2fcff;
  border: 2px solid #008bb7;
  box-sizing: border-box;
  width: 370px;
  height: 196px;
}

.thinking_image,
.image_wrapper,
.user-profile-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 179px;
}

.user-profile-inner1 {
  top: 115px;
  left: 145px;
}

.Facts__container {
  object-position: left top;
  left: 50%;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 600;
  width: 163px;
  height: 28px;
}

.Facts__wrapper {
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 500;
  width: 202px;
  height: 54px;
}

.coding__fact {
  position: absolute;
  top: 167px;
  left: 305px;
  width: 202px;
  height: 54px;
  color: #979797;
}

@media screen and (min-width: 650px) {
  .profile__form__container {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;

    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 850px) {
  .profile__form__container {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;

    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 950px) {
  .profile__form__container {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;

    margin-top: 1.5rem;
  }
}
