:root {
  --mobileView-width: 90%;
  --desktopView-width: 80%;
}

#home {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
}

.home__main__container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.home__main__container .down__arrow__container {
  display: none;
}

#home::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    141.96deg,
    rgba(16, 101, 148,1),
    rgba(14, 128, 211,1)
  );
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.home__main {
  width: var(--mobileView-width);
  margin: 4rem auto;
  padding: 0 0 2rem 0;
}

.home__header {
  display: flex;
  flex-direction: column;
}

.home__content h1,
p {
  color: #fff;
}

.home__content h1 {
  font-size: 2.5rem;
  width: 90%;
}

.home__content p {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.home__img {
  width: 100%;
  margin-top: 5rem;
  transform: translateX(-5%);
}

.home__img img {
  width: 110%;
  margin-top: 40%;
  position: absolute;
}

.home__desc h1 {
  color: var(--primary-clr);
  font-size: 1.6rem;
  margin: 1rem 0;
}

.home__desc p {
  font-size: 1.1rem;
  color: rgb(112, 111, 111);
}

.hideInMobileView {
  display: none;
}

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 850px) {
  #home {
    width: 100%;
    height: 70vh;

    position: relative;
  }

  .home__main__container .down__arrow__container {
    display: block;
    position: absolute;
    width: 25px;
    bottom: 5%;
    right: 2.5%;
  }

  .home__main {
    width: 80%;
    height: auto;
    margin: 1.5 auto;
    padding-bottom: 0rem;
    position: relative;
  }

  .home__main.active {
    animation: slide-effect 0.5s 1 ease forwards;
  }

  .home__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .home__img {
    width: 550px;
    height: auto;
    position: relative;
  }

  .home__img > img {
    width: 125%;
    position: absolute;
  }

  .home__desc {
    transform: translateY(-40%);
    height: auto;
  }
  .home__content h1 {
    width: 100%;
  }

  .home__desc p {
    font-size: 1rem;
    width: 60%;
    color: rgb(112, 111, 111);
  }

  .hideInMobileView {
    display: block;
  }
}

/* lg */
@media (min-width: 1024px) {
  .home__main {
    width: var(--mobileView-width);
    margin: 1.8rem auto;
    padding: 0 0 2rem 0;
  }

  .home__img {
    min-width: 400px;
    transform: translateY(-5%);
  }

  .home__img img {
    width: 100%;
  }

  .home__content p:first-child {
    font-size: 1.9rem;
    line-height: 1.2;
  }

  .home__content p:first-child span {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .home__content p ~ p {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .home__content h1 {
    font-size: 2.6rem;
    width: 100%;
  }

  .home__header {
    margin-left: 2rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .home__img {
    min-width: 500px;
  }

  .home__img img {
    width: 100%;
  }
}
