.card__container {
  width: 250px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.card__container:hover {
  box-shadow: 2px 2px 10px #008cb799;
  transition: all 0.5s ease-in-out;
}

.card__container .image__container {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

.card__container > div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card__content {
  height: 120px;
  padding: 10px;
  overflow: hidden;
}

.card__content p {
  font-size: 15px;
  color: #000;
  opacity: 0.5;
  margin: 0.5rem 0;
}

.card__btn__container {
  padding: 12px 10px 0px 10px;
}

.card__btn__container button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #008bb7;
  opacity: 0.8;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card__btn__container button:hover {
  opacity: 1;
}
