.text__input__container {
  position: relative;
  width: 100%;
  height: 2.2rem;
  background-color: transparent;
}

.text__input__container .form__label {
  position: absolute;
  top: 50%;
  left: 2%;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: text;
  color: var(--light-text-clr);

  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  pointer-events: none;
}

.text__input__container .form__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 1rem;
  background-color: transparent;
  border-bottom: 2.2px solid rgba(0, 0, 0, 0.347);

  font-family: inherit;
  font-weight: 500;
  z-index: 2;
}

.text__input__container .form__input:focus {
  border-color: var(--primary-clr);
}

.text__input__container .form__input:focus ~ .form__label,
.text__input__container
  .form__input:not(:placeholder-shown).form__input:not(:focus)
  ~ .form__label {
  top: 0%;
  left: 0%;
  font-size: 0.7rem;
  z-index: 0;
  color: var(--primary-clr);
}

.form__input:focus .text__input__container {
  border-color: var(--primary-clr);
}
